.positive-buton {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: 0.3s; 
    border-radius: 20px; /* 丸みを追加 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.positive-buton:hover {
    opacity: 0.7; 
    transform: translateY(-2px); /* ホバー時に軽く上に移動 */
}

.negative-buton {
    background-color: #f44336; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px; /* 丸みを追加 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.negative-buton:hover {
    opacity: 0.7;
    transform: translateY(-2px); /* ホバー時に軽く上に移動 */
}


.negative
{
    padding: 5px 10px;
}

.positive
{
    padding: 5px 10px;

}
